html {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
}

input.command-line {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: monospace;
    border: 2px solid white;
    padding: 10px;
    width: 300px;
    outline: none;
    caret-color: #50fa7b;
    border-radius: 10px;
    size: 10px;
}

body {
    background-color: #282a36; /* Dracula background */
    font-family: Arial, sans-serif;
}

h1, h2, footer{
    color: white;
    text-align: center;
}

input.command-line {
    background-color: #282a36; /* Dracula background */
    align-items: center;
    color: #f8f8f2; /* Dracula foreground */
    font-family: monospace;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    outline: none;
    caret-color: #50fa7b; /* Dracula green */
}

h3 {
    color : white;
    display: flex;
    justify-content: space-around; /* Spaces them out evenly */
    gap: 20px; /* Adds space between items */
    width: 100%; /* Ensure it takes full width */
}

